<h1>Ex 1.</h1>(see code)
<p *appLikeNgIf = "true">Show this</p>
<p *appLikeNgIf = "false">Don't show this</p>

<h1>Ex 2.</h1>
<p>Open Console for this</p>

<h1>Ex 3.</h1>
<h4>Components vs Directive</h4>
<p>Component is a basically a directive with an associated view, mean while directive doesn't have view.
All components are directives, but not all directives are components.
Directive is usually to add behavior to a DOM element. Many directive can be used per DOM element, while
only one component can be present per DOM element.
</p>

<h1>Ex 4.</h1>
<h4>OnInit vs Constructor</h4>
<p>The Constructor is a default method of the class that is executed when the class is instantiated
  and ensures proper initialisation of fields in the class and its subclasses.
  <br>
 Called first time before the ngOnInit()
</p>
<p>ngOnInit is a life cycle hook called by Angular to indicate that
   Angular is done creating the component.
  <br>
 Called after the constructor and called  after the first ngOnChanges().
</p>
